

<div class="padding-20 margin-t-20">

	<div class="text-center margin-b-20">
		<a class="ajax-load-to green-landpage-color" href="/carregar_prosseguir_opcao_cliente" data-to="container_prosseguir_tipo_cliente">
			<i class="fas fa-undo"></i>
			Voltar
		</a>
	</div>

	<div class="w90 mx-auto">
		<div class="primary-text margin-b-20 text-center f2rem">
			Preencha o formulário abaixo e saiba agora mesmo se temos um plano compatível com o seu perfil
		</div>
	</div>


	<div class="card queremos_conhecer_voce_container">
		<div class="text-center primary-text queremos_conhecer_voce_titulo ">Queremos conhecer você</div>
		<form>
			<div class="row">
				<div class="col-sm-12 col-md-6">
					<div class="padding-10">
						<div class="form-group">
							<label for="nome">Nome completo</label>
							<input type="text" class="form-control" name="nome"  aria-describedby="nome" required= "true" placeholder="Nome">
						</div>
						<div class="form-group">
							<label for="email">E-mail</label>
							<input type="email" class="form-control" name="email" aria-describedby="email" required="true" placeholder="email@dominio.com.br">
							<div class="margin-t-5">Coloque um e-mail válido, pois ele será necessário para confirmação de seu pagamento.</div>
						</div>

						<div class="form-group">
							<label for="telefone">Telefone</label>
							<input class="form-control tel" name="telefone" aria-describedby="telefone" required="true" placeholder="(99) 99999-9999">
						</div>
						<div class="form-group">
							<label for="como_chegou">Como chegou até nós?</label>
							<input class="form-control" name="como_chegou" aria-describedby="como_chegou">
						</div>
					</div>
				</div>

				<div class="col-sm-12 col-md-6">
					<div class="padding-10">

						<label for="exampleInputEmail1">Você investe ou pretende investir em renda variável no Mercado Financeiro Brasileiro?</label>

						<div class="form-group">								

							<div class="form-check form-check-inline">
								<input class="form-check-input investe-renda-variavel" type="radio" name="investe_em_renda_variavel" id="investe_rv_sim" value="sim">
								<label class="form-check-label" for="investe_rv_sim">Sim</label>
							</div>

								<!-- <div class="form-check form-check-inline">
									<input class="form-check-input investe-renda-variavel" type="radio" name="investe_em_renda_variavel" id="investe_rv_nao" value="nao">
									<label class="form-check-label" for="investe_rv_nao">Não</label>
								</div>
							-->
						</div>

						<div class="container_pretencao_investimento none">
							<label>Qual valor você tem aplicado ou pretende aplicar no Mercado Financeiro?</label>

							<div class="padding-10">
								<div class="form-check padding-10">
									<input class="form-check-input pretencao_investimento" type="radio" name="pretencao_investimento" id="ate_100k" value="100k">
									<label class="form-check-label" for="ate_100k">
										R$100.000,00
									</label>
								</div>
								<div class="form-check padding-10">
									<input class="form-check-input pretencao_investimento" type="radio" name="pretencao_investimento" id="ate_200k" value="200k">
									<label class="form-check-label" for="ate_200k">
										R$200.000,00
									</label>
								</div>
								<div class="form-check padding-10">
									<input class="form-check-input pretencao_investimento" type="radio" name="pretencao_investimento" id="ate_300k" value="300k">
									<label class="form-check-label" for="ate_300k">
										R$300.000,00
									</label>
								</div>
								<div class="form-check padding-10">
									<input class="form-check-input pretencao_investimento" type="radio" name="pretencao_investimento" id="mais_500k" value="500k">
									<label class="form-check-label" for="mais_500k">
										Mais de R$500.000,00
									</label>
								</div>
								<div class="form-check padding-10">
									<input class="form-check-input pretencao_investimento" type="radio" name="pretencao_investimento" id="mais_1m" value="1m">
									<label class="form-check-label" for="mais_1m">
										Mais de R$1.000.000,00
									</label>
								</div>
								<div class="form-check padding-10">
									<input class="form-check-input pretencao_investimento" type="radio" name="pretencao_investimento" id="nao_pretendo_investir" value="nao_pretendo">
									<label class="form-check-label" for="nao_pretendo_investir">
										Não pretendo investir no Mercado Financeiro
									</label>
								</div>

								<div class="form-group">
									<p style="font-size: 1.5rem;" class="margin-t-20">Você possui um Access Key? Insira o Abaixo, se você não tiver prossiga normalmente.</p>

									<label for="acess_key">Access Key</label>
									<input type="text" name="acess_key" class="form-control">
								</div>


							</div>

						</div>



						<div style="height: 50px;"><button class="btn btn-primary none btn-continuar-conhecer" data-href="/enviar-formulario-conhecer">CONTINUAR</button></div>


						<div class="alert alert-warning w100 text-center bold none mensagem_agredecimento_formulario">Agradecemos por preencher nosso formulário de interesse e elegibilidade, iremos entrar em contato assim que tivermos disponível algum sistema ou treinamento que se encaixe no seu perfil, qualquer dúvida estamos à disposição.</div>


					</div>

				</div>
			</div>

		</form>


	</div>

</div>




<section class="padding-20 escolha_algoritmo none font2">

	<div class="escolha_algoritmo_lookout_image text-center">
		<img src="public/images/landpage_investor_lookout.png">
	</div>

	<div class="mx-auto escolha_algoritmo_logo">
		<img src="/public/images/e_investor_logo_white.png">
	</div>

	<div class="escolha_algoritmo_card_container">
		<div class="card">



			<div class="container_capital margin-t-20">
				<div class="row container_escolha_algoritmo">

					<div class="col-sm-12 col-md-8">


						Capital: R$<span id="capital_inicial"></span>

						<span class="none voce_possui_30_dias_gratuitos primary-text">Você possui 30 dias gratuitos</span>

						<form>
							<div class="form-group">
								<label for="formControlRange"></label>
								<input name="valor_minimo" type="range" min="80000" max="2000000" step="10000" class="form-control-range range-fisica" id="formControlRange">
							</div>
						</form>

					</div>

					<div class="col-sm-12 col-md-4">

						<div class="escolha_algoritmo_legenda">

							<div class="escolha_algoritmo_legenda_max_reb">
								<div class="ret_cor_max_reb"></div>
								<div class="legenda_max_reb">Máx. rebaixamento histórico de capital</div>


							</div>

							<div class="">
								<div class="ret_cor_med_ren"></div>
								<div class="legenda_med_ren">
									Média rentabilidade histórica de capital
								</div>

							</div>

						</div>

					</div>


					<div class="col-sm-12">


						<div class="escolha_algoritmo_barras_container">



						</div>

					</div>

					<div class="col-sm-12">
						<div class="margin-b-40 justify margin-t-20">


							<p>
								Os resultados de performance mostrados são de caráter informativo e foram obtidos com base em um
								teste do passado (backtest) utilizando parâmetros selecionados por otimização por sistemas de I.A.
								(Inteligência Artificial) da Metaquotes Ltd. e compilados em relatório de portfólio da StrategyQuant
								utilizando os dados dos ativos fornecidos pela XP Investimentos CCTVM S/A. A responsabilidade de
								configuração e parametrização pertencem a cada usuário. Sistema desenvolvido exclusivamente para
								integração ao testador de estratégias da Metaquotes para geração de parâmetros do algoritmo pelo
								usuário com auxílio de Inteligência Artificial. Os desempenhos anteriores não são, necessariamente,
								indicativos de resultados futuros e nenhuma declaração ou garantia, de forma expressa ou implícita, é
								feita em relação a desempenhos futuros. O conteúdo apresentado neste relatório de teste passado não se
								trata de recomendação, indicação, análise ou aconselhamento de investimento. A rentabilidade passada
								(backtest) divulgada não considera impostos e custos operacionais.
							</p>

							<p>Consulte material e informações diretamente na página oficial dos sistemas utilizados:</p>

							<div>
								<a class="word-break-all" target="_blank" href="https://strategyquant.com/quantanalyzer">https://strategyquant.com/quantanalyzer</a>
							</div>

							<div>
								<a class="word-break-all" target="_blank" href="https://strategyquant.com/">https://strategyquant.com/</a>
							</div>

							<div>
								<a class="word-break-all" target="_blank" href="https://www.metaquotes.net/en/metatrader5/algorithmic-trading/tester">
									https://www.metaquotes.net/en/metatrader5/algorithmic-trading/tester
								</a>
							</div>

						</div>


					</div>


				</div>





			</div>







		</div>

	</div>


</section>


<section class="margin-t-60 w100"></section>

<input type="hidden" class="possui_30_dias_g">


</div>







<script type="text/javascript">

	<% if( typeof message.regras_algoritmo != 'undefined'){ %>
	var media_ano = <%=message.regras_algoritmo[0].media_ano%>;
	var volatilidade = <%= message.regras_algoritmo[0].volatilidade %>;

	console.log('media_ano: ' + media_ano);
	console.log('volatilidade: ' + volatilidade);

	$(document).on('input', '.range-fisica', function(e) {
		e.preventDefault();

		console.log('estou alterando o range');
		console.log($(this).val());

		var capital = parseFloat($(this).val());
		var capital_form = capital.toLocaleString('pt-br', {minimumFractionDigits: 2});
		console.log('capital_form: '+ capital_form);

		$('#capital_inicial').text(capital_form);

		console.log('possui 30 dias g');
		console.log($('.possui_30_dias_g').val());

		if($('.possui_30_dias_g').val() == '1'){
			<%-include('function_barra_gratis_fisico')%>;
		}else{
			<%-include('function_barra_pago_fisico')%>;
		}



	});









	function SubmitLandpageConhecer(post, link,element) {
		var capital_aportado;

		$.ajax({
			method: 'POST',
			async: true,
			data: post,
			url: link,
			beforeSend: function(request) {
			},
			success: function(data) {

				console.log('retorno da data');
				console.log(data);
				console.log('xxxxxxxxxxxxxxxxxxxxxxxxxxx');
				console.log('yay2');
				console.log('data.pretencao_investimento');
				console.log(data.pretencao_investimento);


				var capital = data.pretencao_investimento;


				if(capital>0){
					$(element).removeClass('none');
					$('html,body').animate({
						scrollTop: $(element).offset().top},
						'slow');



					var capital_form = capital.toLocaleString('pt-br', {minimumFractionDigits: 2});
					$('.range-fisica').val(capital);


					console.log('capital_form: '+ capital_form);

					$('#capital_inicial').text(capital_form);





					if(data.possui_30dias == 'gratis' || data.possui_30dias == 'gratis_80'){
						console.log('cai no gratis');

						$('.possui_30_dias_g').val('1');


						$('.voce_possui_30_dias_gratuitos').removeClass('none');
						<%-include('function_barra_gratis_fisico')%>;
					}else{
						console.log('cai no pago');
						$('.possui_30_dias_g').val('2');
						$('.voce_possui_30_dias_gratuitos').addClass('none');
						<%-include('function_barra_pago_fisico')%>;
					}




					$('.mensagem_agredecimento_formulario').addClass('none');


				}else{
					$(element).addClass('none');
					$('.mensagem_agredecimento_formulario').removeClass('none');
				}







			},
			error: function(xhr) {
			},
			complete: function() {



			}
		});
	}



	<%}%>








</script>