

var html_alg = '';

<%
if (typeof message.algoritmo != 'undefined' && message.algoritmo.length > 0) {
	for (var i = 0 ; i < message.algoritmo.length; i++) {
		%>

		if(capital >= <%= message.algoritmo[i].valor_minimo %>){

			

		var rentabilidade_aa = ((media_ano * <%=message.algoritmo[i].multiplicador%>) / capital) * 100;
		var rentabilidade_aa_reais = (rentabilidade_aa * capital ) / 100;
		var rentabilidade_aa_f1 = parseFloat(rentabilidade_aa).toFixed(2);

		var rentabilidade_aa_f = rentabilidade_aa_f1.replace('.',',');
		
		var rentablidade_aa_reais_F = formCurrency.format(rentabilidade_aa_reais);

		var volatilidade_algoritmo = volatilidade * <%=message.algoritmo[i].multiplicador%>;
		var maximo_rebaixamento = volatilidade_algoritmo /  capital * 100;
		maximo_rebaixamento = parseFloat(maximo_rebaixamento).toFixed(2).replace('.',',');
		volatilidade_algoritmo = formCurrency.format(volatilidade_algoritmo);


		var preco_robo = formCurrency.format(<%=message.algoritmo[i].preco%>);

		var largura = 30 - <%=i%> - 0.5;
		console.log('largura: ' + largura);

		if(capital > 99000){

		html_alg = html_alg + '<div class="escolha_algoritmo_barras_box">' +
			'<div class="escolha_algoritmo_barras_progress">' +
				'<div class="barra_maximo_rebaixamento" style="width: ' + largura +'%;">' +
					'<div class="inline">'+
						'<i class="fas fa-sort-down down-color f40"></i>'+
					'</div>'+
					'<div class="inline">'+
						maximo_rebaixamento + '% ou <br>' +
						volatilidade_algoritmo + 
					'</div>'+
				'</div>'+
				'<div class="barra_media_rentabilidade" style="width:65%;">' +
					'<div class="inline">'+
						'<i class="fas fa-sort-up primary-text f40"></i>'+
					'</div>'+
					'<div class="inline">'+
						'+' + rentabilidade_aa_f + '% a.a ou <br>' +
						'+' + rentablidade_aa_reais_F + ' a.a' +
					'</div>'+
				'</div>'+
				'<div class="escolha_algoritmo_relatorio">'+
					'<a class="relatorio_icon_barras" target="_blank" href="/relatorio/<%= message.algoritmo[i].valor %>/'+capital+'"><i class="fas fa-book pointer"></i></a>'+					
				'</div>'+
			'</div>'+
			'<div class="escolha_algoritmo_assinar_box">'+
				'<div class="text-center">'+
					'<button data-link="<%= message.algoritmo[i].link_pagamento %>" class="btn btn-assinar-algoritmo ajax-submit-form-other-link" target="_blank" data-form=".btn-continuar-conhecer" data-href="/cadastrar_ultimo_contato/<%= message.algoritmo[i].valor %>/'+capital+'/'+rentabilidade_aa_f1+'">'+
						'Assinar <br>'+
						preco_robo +
					'</button>'+
					'<div>'+
						'Sistema <%= message.algoritmo[i].nome %>' +
					'</div>'+
				'</div>'+
			'</div>'+
		'</div>';

	}else{

		html_alg = html_alg + '<div class="escolha_algoritmo_barras_box">' +
			'<div class="escolha_algoritmo_barras_progress">' +
				'<div class="barra_maximo_rebaixamento" style="width: ' + largura +'%;">' +
					'<div class="inline">'+
						'<i class="fas fa-sort-down down-color f40"></i>'+
					'</div>'+
					'<div class="inline">'+
						maximo_rebaixamento + '% a.a ou <br>' +
						volatilidade_algoritmo + 
					'</div>'+
				'</div>'+
				'<div class="barra_media_rentabilidade" style="width:65%;">' +
					'<div class="inline">'+
						'<i class="fas fa-sort-up primary-text f40"></i>'+
					'</div>'+
					'<div class="inline">'+
						'+' + rentabilidade_aa_f + '% ou <br>' +
						'+' + rentablidade_aa_reais_F +
					'</div>'+
				'</div>'+
				'<div class="escolha_algoritmo_relatorio">'+
					'<i class="fas fa-book"></i>'+
				'</div>'+
			'</div>'+
			'<div class="escolha_algoritmo_assinar_box">'+
				'<div class="text-center">'+
					'<button class="btn btn-disabled border-radius-20" disabled="true">'+
						'ESGOTADO' +
					'</button>'+
					'<div>'+
						'Sistema <%= message.algoritmo[i].nome %>' +
					'</div>'+
				'</div>'+
			'</div>'+
		'</div>';

	}


	}



	<%}

}%>

$('.escolha_algoritmo_barras_container').html(html_alg);