
<div class="margin-t-20">
	<img class="w100" src="/public/images/pdf/00.jpg">
</div>

<div class="container-lg">
	<div class="padding-20 primary-text">

		<p>Para quem busca acesso a informações e tecnologias financeiras de ponta, utilizadas pelas maiores instituições do mercado, e que de forma tranquila e planejada poderá entrar com maior segurança no mercado financeiro através de algoritmos de hi-tech bancária.</p>

		<p>Uma plataforma 100% digital e que integra diretamente na conta da corretora de investimentos do usuário e sob seu único e total controle, de forma substancialmente simples e intuitiva para criação de algoritmos com o uso de métodos quantitativos para investimentos automatizados.</p>

		<p>Nesta plataforma um algoritmo será gerado e otimizado pelo usuário com o auxílio de inteligência artificial e que automatiza operações em dois das mais negociados derivativos do mercado futuro brasileiro, listados na B3.</p>


		<div class="row">
			<div class="col-sm-12 col-md-6">
				<p>Monitorado por 24h/24h e hospedado na smartcloud pela Innvicton com alta frequência de processamento e banda de conexão em um dos melhores servidores financeiros do mundo está em pleno funcionamento e com licenças de uso limitada a EI Investor plataforma está disponível.</p>

				<p>Simule e contrate agora o Algoritmo da EI Investor que mais se enquadra com seu perfil e entra na vanguarda do mercado tecnológico financeiro.</p>
			</div>
			<div class="col-sm-12 col-md-6">
				<div class="">
					<img class="w100" src="/public/images/landpage_technology.png">
				</div>
			</div>
		</div>

		
	</div>

	<div class="divisor_landpage"></div>

	<section class="padding-20">
		<div class="card queremos_conhecer_voce_container">
			<div class="text-center primary-text queremos_conhecer_voce_titulo ">Queremos Conhecer Você</div>
			<form>
				<div class="row">
					<div class="col-sm-12 col-md-6">
						<div class="padding-10">
							<div class="form-group">
								<label for="nome">Nome completo</label>
								<input type="text" class="form-control" name="nome"  aria-describedby="nome" required= "true">
							</div>
							<div class="form-group">
								<label for="email">E-mail</label>
								<input type="email" class="form-control" name="email" aria-describedby="email" required="true">
							</div>

							<div class="form-group">
								<label for="telefone">Telefone</label>
								<input class="form-control tel" name="telefone" aria-describedby="telefone" required="true">
							</div>
							<div class="form-group">
								<label for="como_chegou">Como chegou até nós?</label>
								<input class="form-control" name="como_chegou" aria-describedby="como_chegou">
							</div>
						</div>
					</div>

					<div class="col-sm-12 col-md-6">
						<div class="padding-10">

							<label for="exampleInputEmail1">Você investe ou pretende investir em renda variável no Mercado Financeiro Brasileiro?</label>

							<div class="form-group">								

								<div class="form-check form-check-inline">
									<input class="form-check-input investe-renda-variavel" type="radio" name="investe_em_renda_variavel" id="investe_rv_sim" value="sim">
									<label class="form-check-label" for="investe_rv_sim">Sim</label>
								</div>

								<div class="form-check form-check-inline">
									<input class="form-check-input investe-renda-variavel" type="radio" name="investe_em_renda_variavel" id="investe_rv_nao" value="nao">
									<label class="form-check-label" for="investe_rv_nao">Não</label>
								</div>

							</div>

							<div class="container_pretencao_investimento none">
								<label>Qual valor você tem aplicado ou pretende aplicar no Mercado Financeiro como um todo?</label>

								<div class="padding-10">
									<div class="form-check padding-10">
										<input class="form-check-input pretencao_investimento" type="radio" name="pretencao_investimento" id="ate_100k" value="100k">
										<label class="form-check-label" for="ate_100k">
											Até R$100.000,00
										</label>
									</div>
									<div class="form-check padding-10">
										<input class="form-check-input pretencao_investimento" type="radio" name="pretencao_investimento" id="ate_200k" value="200k">
										<label class="form-check-label" for="ate_200k">
											R$200.000,00
										</label>
									</div>
									<div class="form-check padding-10">
										<input class="form-check-input pretencao_investimento" type="radio" name="pretencao_investimento" id="ate_300k" value="300k">
										<label class="form-check-label" for="ate_300k">
											R$300.000,00
										</label>
									</div>
									<div class="form-check padding-10">
										<input class="form-check-input pretencao_investimento" type="radio" name="pretencao_investimento" id="mais_500k" value="500k">
										<label class="form-check-label" for="mais_500k">
											Mais de R$500.000,00
										</label>
									</div>
									<div class="form-check padding-10">
										<input class="form-check-input pretencao_investimento" type="radio" name="pretencao_investimento" id="mais_1m" value="1m">
										<label class="form-check-label" for="mais_1m">
											Mais de R$1.000.000,00
										</label>
									</div>
									<div class="form-check padding-10">
										<input class="form-check-input pretencao_investimento" type="radio" name="pretencao_investimento" id="nao_pretendo_investir" value="nao_pretendo">
										<label class="form-check-label" for="nao_pretendo_investir">
											Não pretendo investir no Mercado Financeiro
										</label>
									</div>
								</div>

							</div>



							<div style="height: 50px;"><button class="btn btn-primary ajax-submit-no-back none btn-continuar-conhecer" data-href="/enviar-formulario-conhecer">CONTINUAR</button></div>


							<div class="alert alert-warning w100 text-center bold none mensagem_agredecimento_formulario">Agradecemos por preencher nosso formulário de interesse e elegibilidade, iremos entrar em contato assim que tivermos disponível algum treinamento ou produto que se encaixe no seu perfil, qualquer dúvida estamos a disposição.</div>


						</div>
						
					</div>
				</div>
				
			</form>
			

		</div>
		
	</section>


	<section class="padding-20 escolha_algoritmo none">

		<div class="escolha_algoritmo_lookout_image">
			<img src="public/images/landpage_investor_lookout.png">
		</div>

		<div class="mx-auto escolha_algoritmo_logo">
			<img src="/public/images/e_investor_logo_white.png">
		</div>

		<div class="escolha_algoritmo_card_container">
			<div class="card">
				
				

				<div class="container_capital margin-t-20">
					<div class="row container_escolha_algoritmo">

						<div class="col-sm-12 col-md-8">


							Capital: R$<span id="capital_inicial"></span>

							<form>
								<div class="form-group">
									<label for="formControlRange"></label>
									<input name="valor_minimo" type="range" min="80000" max="1500000" step="10000" class="form-control-range" id="formControlRange">
								</div>
							</form>

						</div>

						<div class="col-sm-12 col-md-4">

							<div class="escolha_algoritmo_legenda">

								<div class="escolha_algoritmo_legenda_max_reb">
									<div class="ret_cor_max_reb"></div>
									<div class="legenda_max_reb">Máx. rebaixamento histórico de capital</div>


								</div>

								<div class="">
									<div class="ret_cor_med_ren"></div>
									<div class="legenda_med_ren">
										Média rentabilidade histórica de capital
									</div>

								</div>

							</div>

						</div>


						<div class="col-sm-12">


							<div class="escolha_algoritmo_barras_container">



							</div>

						</div>
					</div>



					

				</div>







			</div>

			<div class="text-center white-text f20 margin-t-20">
				High-Availability Multiple Intel Xeon Gold 6130 vCores
			</div>

		</div>


	</section>


	<section class="padding-20">
		O sistema faz x

	</section>



</div>







<script type="text/javascript">

	<% if( typeof message.regras_algoritmo != 'undefined'){ %>
	var media_ano = <%=message.regras_algoritmo[0].media_ano%>;
	var volatilidade = <%= message.regras_algoritmo[0].volatilidade %>;

	const formCurrency = new Intl.NumberFormat('pt-BR', {
		style: 'currency',
		currency: 'BRL',
		minimumFractionDigits: 2
	});

	console.log('media_ano: ' + media_ano);
	console.log('volatilidade: ' + volatilidade);

	$(document).on('input', '.form-control-range', function(e) {
		e.preventDefault();

		console.log('estou alterando o range');
		console.log($(this).val());

		var capital = parseFloat($(this).val());
		var capital_form = capital.toLocaleString('pt-br', {minimumFractionDigits: 2});
		console.log('capital_form: '+ capital_form);

		$('#capital_inicial').text(capital_form);
		var html_alg = '';

		<%
		if (typeof message.algoritmo != 'undefined' && message.algoritmo.length > 0) {
			for (var i = 0 ; i < message.algoritmo.length; i++) {
				%>

				if(capital >= <%= message.algoritmo[i].valor_minimo %>){

					var rentabilidade_aa = ((media_ano * <%=message.algoritmo[i].multiplicador%>) / capital) * 100;
					var rentabilidade_aa_reais = (rentabilidade_aa * capital ) / 100;
					rentabilidade_aa = parseFloat(rentabilidade_aa).toFixed(2).replace('.',',');
					var rentablidade_aa_reais_F = formCurrency.format(rentabilidade_aa_reais);

					var volatilidade_algoritmo = volatilidade * <%=message.algoritmo[i].multiplicador%>;
					var maximo_rebaixamento = volatilidade_algoritmo /  capital * 100;
					maximo_rebaixamento = parseFloat(maximo_rebaixamento).toFixed(2).replace('.',',');
					volatilidade_algoritmo = formCurrency.format(volatilidade_algoritmo);


					var preco_robo = formCurrency.format(<%=message.algoritmo[i].preco%>);

					var largura = 30 - <%=i%> - 0.5;
					console.log('largura: ' + largura);

					html_alg = html_alg + '<div class="escolha_algoritmo_barras_box">' +
					'<div class="escolha_algoritmo_barras_progress">' +
					'<div class="barra_maximo_rebaixamento" style="width: ' + largura +'%;">' +
					'<div class="inline">'+
					'<i class="fas fa-sort-down down-color f40"></i>'+
					'</div>'+
					'<div class="inline">'+
					maximo_rebaixamento + '% a.a ou <br>' +
					volatilidade_algoritmo + 
					'</div>'+
					'</div>'+
					'<div class="barra_media_rentabilidade" style="width:65%;">' +
					'<div class="inline">'+
					'<i class="fas fa-sort-up primary-text f40"></i>'+
					'</div>'+
					'<div class="inline">'+
					'+' + rentabilidade_aa + '% ou <br>' +
					'+' + rentablidade_aa_reais_F +
					'</div>'+
					'</div>'+
					'<div class="escolha_algoritmo_relatorio">'+
					'<i class="fas fa-book"></i>'+
					'</div>'+
					'</div>'+
					'<div class="escolha_algoritmo_assinar_box">'+
					'<div class="text-center">'+
					'<button class="btn btn-assinar-algoritmo">'+
					'Assinar <br>'+
					preco_robo +
					'</button>'+
					'<div>'+
					'Sistema <%= message.algoritmo[i].nome %>' +
					'</div>'+
					'</div>'+
					'</div>'+
					'</div>';


				}



				<%}

			}%>

			$('.escolha_algoritmo_barras_container').html(html_alg);

		});



	<%}%>






	function SubmitLandpageConhecer(post, link,element) {
		var capital_aportado;

		$.ajax({
			method: 'POST',
			async: true,
			data: post,
			url: link,
			beforeSend: function(request) {
			},
			success: function(data) {

				var capital = data;

				console.log('retorno da data');
				console.log(data);
				console.log('xxxxxxxxxxxxxxxxxxxxxxxxxxx');
				console.log('yay2');

				if(capital>0){
					$(element).removeClass('none');
					var capital_form = capital.toLocaleString('pt-br', {minimumFractionDigits: 2});
					$('.form-control-range').val(capital)


					console.log('capital_form: '+ capital_form);

					$('#capital_inicial').text(capital_form);
					var html_alg = '';




					<%
					if (typeof message.algoritmo != 'undefined' && message.algoritmo.length > 0) {
						for (var i = 0 ; i < message.algoritmo.length; i++) {
							%>

							if(capital >= <%= message.algoritmo[i].valor_minimo %>){

								var rentabilidade_aa = ((media_ano * <%=message.algoritmo[i].multiplicador%>) / capital) * 100;
								var rentabilidade_aa_reais = (rentabilidade_aa * capital ) / 100;
								rentabilidade_aa = parseFloat(rentabilidade_aa).toFixed(2).replace('.',',');
								var rentablidade_aa_reais_F = formCurrency.format(rentabilidade_aa_reais);

								var volatilidade_algoritmo = volatilidade * <%=message.algoritmo[i].multiplicador%>;
								var maximo_rebaixamento = volatilidade_algoritmo /  capital * 100;
								maximo_rebaixamento = parseFloat(maximo_rebaixamento).toFixed(2).replace('.',',');
								volatilidade_algoritmo = formCurrency.format(volatilidade_algoritmo);


								var preco_robo = formCurrency.format(<%=message.algoritmo[i].preco%>);

								var largura = 30 - <%=i%> - 0.5;
								console.log('largura: ' + largura);

								html_alg = html_alg + '<div class="escolha_algoritmo_barras_box">' +
								'<div class="escolha_algoritmo_barras_progress">' +
								'<div class="barra_maximo_rebaixamento" style="width: ' + largura +'%;">' +
								'<div class="inline">'+
								'<i class="fas fa-sort-down down-color f40"></i>'+
								'</div>'+
								'<div class="inline">'+
								maximo_rebaixamento + '% a.a ou <br>' +
								volatilidade_algoritmo + 
								'</div>'+
								'</div>'+
								'<div class="barra_media_rentabilidade" style="width:65%;">' +
								'<div class="inline">'+
								'<i class="fas fa-sort-up primary-text f40"></i>'+
								'</div>'+
								'<div class="inline">'+
								'+' + rentabilidade_aa + '% ou <br>' +
								'+' + rentablidade_aa_reais_F +
								'</div>'+
								'</div>'+
								'<div class="escolha_algoritmo_relatorio">'+
								'<i class="fas fa-book"></i>'+
								'</div>'+
								'</div>'+
								'<div class="escolha_algoritmo_assinar_box">'+
								'<div class="text-center">'+
								'<button class="btn btn-assinar-algoritmo">'+
								'Assinar <br>'+
								preco_robo +
								'</button>'+
								'<div>'+
								'Sistema <%= message.algoritmo[i].nome %>' +
								'</div>'+
								'</div>'+
								'</div>'+
								'</div>';


							}



							<%}

						}%>


						$('.mensagem_agredecimento_formulario').addClass('none');
						$('.escolha_algoritmo_barras_container').html(html_alg);

					}else{
						$(element).addClass('none');
						$('.mensagem_agredecimento_formulario').removeClass('none');
					}







				},
				error: function(xhr) {
				},
				complete: function() {



				}
			});
	}








</script>