<nav class="header landpage_header">
	<div class="navbar-header-landpage">

		<a href="/" class="navbar-brand">
			<div class="logo">
				E-Investor
			</div>
		</a>



		<a href="/whitepaper" class="<%= message.numero_menu == 2 ? 'active' : ''%> landpage_navbar_item"> 
			<i class="fas fa-chalkboard"></i>
			Whitepaper
		</a>

		<a class="margin-l-10 <%= message.numero_menu == 3 ? 'active' : ''%> landpage_navbar_item" href="quem_somos">Quem somos</a>

		<a class="margin-l-10 <%= message.numero_menu == 4 ? 'active' : ''%> landpage_navbar_item" href="faq">F.A.Q</a>

		<a class="margin-l-10 <%= message.numero_menu == 5 ? 'active' : ''%> landpage_navbar_item" href="contato">Contato</a>


		<div class="float-right minha_conta_landpage landpage_navbar_item_f">

			<a href="/plataforma">
				<i class="fas fa-user"></i>
				Minha Conta 

			</a>

		</div>

		<button class="sidebar-landpage-toggle float-right"><i class="fas fa-bars"></i></button>

	</div>

</nav>


<%-include('sidebar_mobile')%>