<%- include('../includes/navbar'); %>

<div class="flex align-items-stretch">

	<%- include('../includes/sidebar'); %>

	<div class="page-content">

		<%- include('../inicio/primeira_vez'); %>

		<%- include('../inicio/popup_termos_uso');%>



		<section class="margin-bottom-sm">
			<div class="container-fluid">

				<div class="card">

					<div class="tab_container">
						<div class="tab_header active inline">Conta</div>
						<a class="ajax-load" href="/plataforma/sistema/automacao/parametros">
							<div class="tab_header inline">Parâmetros</div>
						</a>
					</div>

					<div class="row d-flex align-items-stretch">

						<div class="col-sm-12">                           
							<div class="margin-t-10 padding-20">

								



								<% if(typeof data[usuario.id +'_usuario_corretora'] != 'undefined'){ %>

								<% if(data[usuario.id +'_usuario_corretora'].length > 0) { %>

								<% if(data[usuario.id +'_usuario_corretora'][0].validado == false){ %>
								<div class="alert alert-warning text-center">
									Status: <strong>Sincronizando</strong> isso pode levar até 3 dias úteis.

									<% if(usuario.nivel == 4){%>
									<div class="margin-t-10">
										<button class="btn btn-primary ajax-submit" data-href="/plataforma/sistema/automacao/limpar_sincronizacao_pitch/" data-action="/plataforma/sistema/">Limpar Sincronização</button>
									</div>

									<%}%>

									<% if(data[usuario.id +'_usuario_parametros'].length == 0){ %>
									Você precisa agora ir na aba Parâmetros para carregar sua estratégia:

									<div class="text-center margin-t-10">
										<a class="btn btn-primary ajax-load" href="/plataforma/sistema/automacao/parametros">Acesse aqui!</a>
									</div>

									<% } %>


								</div>

								<% }else if(data[usuario.id +'_usuario_corretora'][0].sincronizado == true){ %>
								<div class="alert alert-success text-center">
									Sua conta foi <strong>verificada</strong> com sucesso!

									<% if( typeof data[usuario.id +'_usuario_corretora'] != 'undefined'){ %>
									<div class="margin-t-10">
										Porém você ainda <strong>não</strong> enviou os parâmetros de sua estratégia, você pode fazer isso acessando o link abaixo:
									</div>

									<div class="text-center margin-t-10">
										<a class="btn btn-primary ajax-load" href="/plataforma/sistema/automacao/parametros">Acesse aqui!</a>
									</div>

									<% }
								}else{ %>
								<div class="alert alert-danger text-center">
									Houve algum problema com a sua conta, por-favor enviar novamente as credenciais!
								</div>

								<%-include('formulario_conta');%>

								<% } %>


							</div>


							<% }else{ %>

							<p>
								Olá, aqui você precisa integrar sua conta para que o sistema contratado funcione, é muito simples, basta você preencher qual a sua corretora e inserir os acessos da plataforma MetaTrader5 que você recebe no seu e-mail após fazer a contratação no site de sua corretora.
							</p>

							<%-include('formulario_conta');%>

							<%}
						}%>



					</div>
				</div>
			</div>

		</div>

	</div>
</section>

</div>

</div>