<%- include('../includes/navbar'); %>

<div class="flex align-items-stretch">


	<%- include('../includes/sidebar'); %>

	<% if(usuario.id != '60ca26bd4f7a4a001d341f3d'){%>

	<div class="page-content">

		<%- include('../inicio/primeira_vez'); %>
		<%- include('../inicio/popup_termos_uso');%>



		<%if (typeof data[usuario.id +'_usuario_u'][0].cnpj != 'undefined'){%>

		<section class="margin-bottom-sm">
			<div class="container-fluid">
				<div class="card">

					<div class="text-center margin-t-10 margin-b-10 f24">
						Por-favor entrar em contato com o <a target="_blank" href="https://web.whatsapp.com/send?phone=5548991234551">suporte</a> para que haja a possibilidade de upgrade!

						<div class="primary-text">47 99123-4551</div>

						<div class="text-center">
							<img style="width: 150px;height:150px;" src="/public/images/qr_code_whatsapp.png">
						</div>



					</div>

				</div>

			</div>
		</section>



		<%}else{%>


		<section class="margin-bottom-sm">
			<div class="container-fluid">
				<div class="card">

					<div class="padding-20">

						<div class="row">
							<div class="col-sm-12 col-md-4 text-center">
								Seu Valor Aplicado: R$ <%= data[usuario.id +'_usuario_status'][0].valor_aplicado_f %>
							</div>

							<div class="col-sm-12 col-md-4 text-center">
								Seu Sistema Atual é: <%= data[usuario.id +'_usuario_status'][0].nome_algoritmo_escolhido %>
							</div>


							<div class="col-sm-12 col-md-4 text-center">
								

								<% if (data[usuario.id +'_usuario_licenca'].length> 0){ %>

								Data Vencimento:<%= data[usuario.id +'_usuario_licenca'][0].data_fim_uf %>

								<%}%>

							</div>

						</div>
						

						<div class="alert alert-warning margin-t-10">A cobrança do novo sistema é feita no momento da assinatura independente do vencimento do sistema atual, você pode fazer o upgrade a qualquer momento ou próximo ao vencimento do sistema vigente. 

							<br><br>O sistema atual é cancelado no momento do upgrade, entrando nesta data a cobrança do valor do novo plano.

							<br><br>Dependendo do dia do upgrade e vencimento do seu cartão, poderão estar na sua próxima fatura os dois sistemas.
						</div>

						<div class="bold text-center">Poderá levar até 1 dia útil para nós confirmarmos o seu pagamento.</div>



						<div class="margin-t-20">
							<div class="row">

								<div class="col-sm-12 col-md-8">


									<span class="f24">Capital: R$<span id="capital_inicial"><%= data[usuario.id +'_usuario_status'][0].valor_aplicado_f %></span></span>

									<span class="margin-l-30">(Performance em backtest, referência 36 meses)</span>

									<form>
										<div class="form-group">
											<label for="formControlRange"></label>
											<input name="valor_minimo" type="range" min="80000" max="2000000" step="10000" class="form-control-range" id="formControlRange" value="<%= data[usuario.id +'_usuario_status'][0].valor_aplicado %>">
										</div>
									</form>

								</div>

								<div class="col-sm-12 col-md-4">

									<div class="escolha_algoritmo_legenda">

										<div class="escolha_algoritmo_legenda_max_reb">
											<div class="ret_cor_max_reb"></div>
											<div class="legenda_max_reb">Máx. rebaixamento histórico de capital</div>


										</div>

										<div class="">
											<div class="ret_cor_med_ren"></div>
											<div class="legenda_med_ren">
												Média rentabilidade histórica de capital
											</div>

										</div>

									</div>

								</div>
							</div>
						</div>





						<div class="col-sm-12">


							<div class="escolha_algoritmo_barras_container">



							</div>

						</div>



					</div>



				</div>
			</div>
		</section>


		<%}%>

	</div>

	<%}else{%>
	<div class="page-content">
		<div class="container-fluid">
			<div class="alert error-block margin-t-10">
				Você não pode acessar essa página!
			</div>
		</div>
	</div>


	<%}%>





</div>


<script type="text/javascript">

	var formCurrency = new Intl.NumberFormat('pt-BR', {
		style: 'currency',
		currency: 'BRL',
		minimumFractionDigits: 2
	});


	<% if( typeof data[usuario.id +'_regras_algoritmo'] != 'undefined'){ %>
		var media_ano = <%=data[usuario.id +'_regras_algoritmo'][0].media_ano%>;
		var volatilidade = <%= data[usuario.id +'_regras_algoritmo'][0].volatilidade %>;



		console.log('media_ano: ' + media_ano);
		console.log('volatilidade: ' + volatilidade);

		$(document).on('input', '.form-control-range', function(e) {
			e.preventDefault();

			console.log('estou alterando o range');
			console.log($(this).val());

			var capital = parseFloat($(this).val());
			var capital_form = capital.toLocaleString('pt-br', {minimumFractionDigits: 2});
			console.log('capital_form: '+ capital_form);

			$('#capital_inicial').text(capital_form);

			<%-include('function_barra')%>;




		});

		<%}%>


		var capital = <%= data[usuario.id +'_usuario_status'][0].valor_aplicado %>;

		console.log('----------------------');
		console.log(capital);


		if(capital>0){
			var capital_form = capital.toLocaleString('pt-br', {minimumFractionDigits: 2});
			$('.form-control-range').val(capital)
			console.log('capital_form: '+ capital_form);
			$('#capital_inicial').text(capital_form);
			<%-include('function_barra');%>
		}










	</script>
