<%- include('../includes/navbar'); %>

<div class="flex align-items-stretch">


	<%- include('../includes/sidebar'); %>

	<div class="page-content">

		<%- include('../inicio/primeira_vez'); %>
		<%- include('../inicio/popup_termos_uso');%>


		
		
		<section class="margin-bottom-sm">
			<div class="container-fluid">

				<div class="card">

					<div class="row d-flex align-items-stretch">

						<div class="col-sm-12">                           
							<div class="margin-t-10">
								<h5 class="text-center">Minha Conta</h5>
								<div class="block-body">
									<div class="text-center margin-t-10">
										<span class="margin-l-5">Nome:</span>
										<%=data[usuario.id +'_usuario_t'][0].nome%>
									</div>

									<div class="text-center margin-t-10">
										<span class="margin-l-5">E-mail:</span>
										<%=data[usuario.id +'_usuario_t'][0].email%>
									</div>

									<div class="text-center margin-t-10">
										<span class="margin-l-5">Telefone:</span>
										<%=data[usuario.id +'_usuario_t'][0].telefone%>
									</div>

									<div class="text-center margin-t-10">
										<span class="margin-l-5">CPF:</span>
										<%=data[usuario.id +'_usuario_t'][0].cpf%>
									</div>

									<div class="text-center margin-t-10 margin-b-10">
										<button class="btn btn-primary ajax-load" href="/plataforma/sistema/minha_conta/alterar-senha">Alterar Senha</button>
									</div>


								</div>



							</div>
						</div>
					</div>
					
				</div>

			</div>
		</section>


		<% if (data[usuario.id +'_usuario_licenca'].length> 0){ %>
		<section class="margin-bottom-sm">
			<div class="container-fluid">

				<div class="card">

					<div class="row d-flex align-items-stretch">

						<div class="col-sm-12">                           
							<div class="margin-t-10">
								<h5 class="text-center bold">Assinatura</h5>
								<div class="block-body">
									<div class="mx-auto">

										<div class="text-center margin-t-10">
											<span class="margin-l-5">Dia do Vencimento/Cobrança:</span>
											<%=data[usuario.id +'_usuario_licenca'][0].data_fim_uf%>
										</div>

										<div class="text-center margin-t-10">
											<span class="margin-l-5">Licença:</span>
											<%= data[usuario.id +'_usuario_status'][0].nome_algoritmo_escolhido %>			
										</div>

										<div class="text-center margin-t-10">
											<span class="margin-l-5">Valor Inicial Alocado:</span>
											R$<%= data[usuario.id +'_usuario_status'][0].valor_aplicado_f %>			
										</div>


										<div class="text-center margin-t-10">
											<span class="margin-l-5">Lote Máximo: WIN: <%= 5 * data[usuario.id +'_usuario_algoritmo'][0].algoritmo[0].multiplicador %> | WDO: <%= 3 * data[usuario.id +'_usuario_algoritmo'][0].algoritmo[0].multiplicador %></span>
										</div>




									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</section>

		<% } %>


		<section class="margin-bottom-sm">
			<div class="container-fluid">

				<div class="card">

					<div class="row d-flex align-items-stretch">

						<div class="col-sm-12">                           
							<div class="margin-t-10">
								<h5 class="text-center bold">Status</h5>
								<div class="block-body">
									<div class="mx-auto">

										<% if (data[usuario.id +'_usuario_status'].length> 0){ %>

										<div class="text-center margin-t-10">
											<%if(data[usuario.id +'_usuario_status'][0].sistema_online == true){%>
											<i class="fas fa-check-circle green-text f24"></i>
											<%}else{%>
											<i class="fas fa-times-circle orange-text f24"></i>
											<%}%>

											<span class="margin-l-5">Status sistema:</span>
											<span class="<%=data[usuario.id +'_usuario_status'][0].sistema_online == true ? 'green-text' : 'orange-text' %>">
												<%= data[usuario.id +'_usuario_status'][0].nome_algoritmo_escolhido %> <%= data[usuario.id +'_usuario_status'][0].sistema_online == true ? '- ONLINE' : ' - OFFLINE'%>
											</span>
										</div>

										<div class="text-center margin-t-10">
											<%if(data[usuario.id +'_usuario_status'][0].pagamento == true){%>
											<i class="fas fa-check-circle green-text f24"></i>
											<%}else{%>
											<i class="fas fa-times-circle orange-text f24"></i>
											<%}%>

											<span class="margin-l-5">Pagamento:</span>
											<span class="<%=data[usuario.id +'_usuario_status'][0].pagamento == true ? 'green-text' : 'orange-text' %>">
												<%=data[usuario.id +'_usuario_status'][0].pagamento == true ? 'OK' : 'Erro'%>
											</span>
										</div>

										<a class="ajax-load d-block" href="/plataforma/sistema/automacao">
											<div class="text-center margin-t-10">
												<%if(data[usuario.id +'_usuario_status'][0].conta == 'Sincronizada'){%>
												<i class="fas fa-info-circle green-text f24"></i>
												<%}else if(data[usuario.id +'_usuario_status'][0].conta == 'Sincronizando'){%>
												<i class="fas fa-info-circle orange-text f24"></i>
												<%}else{%>
												<i class="fas fa-info-circle red-text f24"></i>
												<%}%>

												<span class="margin-l-5">Conta:</span>
												<span class="<%=data[usuario.id +'_usuario_status'][0].conta == 'Sincronizada' ? 'green-text' : data[usuario.id +'_usuario_status'][0].conta == 'Sincronizando' ? 'orange-text' : 'red-text' %>">
													<%=data[usuario.id +'_usuario_status'][0].conta%>
												</span>
											</div>
										</a>

										<a class="ajax-load d-block" href="/plataforma/sistema/automacao/parametros">
											<div class="text-center margin-t-10">
												<%if(data[usuario.id +'_usuario_status'][0].algoritmo == 'Sincronizada'){%>
												<i class="fas fa-check-circle green-text f24"></i>
												<%}else if(data[usuario.id +'_usuario_status'][0].algoritmo == 'Sincronizando'){%>
												<i class="fas fa-exclamation-circle orange-text f24"></i>
												<%}else{%>
												<i class="fas fa-times-circle red-text f24"></i>
												<%}%>

												<span class="margin-l-5">Algoritmo:</span>
												<span class="<%=data[usuario.id +'_usuario_status'][0].algoritmo == 'Sincronizada' ? 'green-text' : data[usuario.id +'_usuario_status'][0].algoritmo == 'Sincronizando' ? 'orange-text' : 'red-text' %>">
													<%=data[usuario.id +'_usuario_status'][0].algoritmo%>
												</span>
											</div>
										</a>

										<div class="text-center margin-t-10">
											<i class="fas fa-check-circle green-text f24"></i>
											<span class="margin-l-5">Data da atualização:</span>
											<%=data[usuario.id +'_usuario_status'][0].data_atualizacao_f%>
										</div>


										<%}%>


									</div>



								</div>



							</div>
						</div>
					</div>

				</div>

			</div>
		</section>



		<section class="margin-bottom-sm">
			<div class="container-fluid">

				<div class="mx-auto text-center">


					<button class="btn btn-red modal-mount <%=data[usuario.id +'_usuario_desativar_conta'].length > 0 ? 'disabled' : ''  %>" <%=data[usuario.id +'_usuario_desativar_conta'].length > 0 ? 'disabled' : ''  %> data-modal='#modalinfo' data-link="/plataforma/sistema/minha_conta/pop-up-desativar-conta">Desativar Conta</button>

				</div>

			</div>
		</section>





	</div>

</div>