<%- include('../includes/menu_header'); %>
<% if(usuario.nivel == 1){%>


<div class="page-content">


	<section class="no-padding-bottom">
		<div class="container-fluid">
			<div class="card">
				<div class="row">
					<div class="col-sm-12">
						<div class="padding-20">
							<h4>
								Usuários							
							</h4>

							<a class="btn btn-primary ajax-load margin-t-10 margin-r-10 width100-mobile" href="/plataforma/sistema/administracao/adicionar-usuario/" >
								Adicionar Usuário
							</a>


							<table class="table centered highlight responsive-table cell-border tabela_filtrada" id="tabela_administracao">
								<thead>
									<tr>
										<th>Nome</th>
										<th>E-mail</th>
										<th>Posição</th>
										<th>Parceiro</th>
										<th>Status Pagto</th>
										<th>Status Setup</th>
										<th>Categoria</th>
										<th>Cliente Desde</th>
										<th>Resultado Parcial</th>
										<th>Resultado Acumulado</th>
										<th>Ações</th>
									</tr>
								</thead>
								<tbody>
									<%
									if (typeof data[usuario.id +'_usuarios'] != 'undefined' && data[usuario.id +'_usuarios'].length > 0) {
										for (var i = 0 ; i < data[usuario.id +'_usuarios'].length; i++) {
											%>
											<tr>
												<td>
													<%= data[usuario.id +'_usuarios'][i].nome %>
												</td>
												<td>
													<%= data[usuario.id +'_usuarios'][i].email %>
												</td>
												<td>
													<%if( data[usuario.id +'_usuarios'][i].nivel == 3){%>
													Cliente
													<%}else{%>
													Cliente/Parceiro
													<%}%>
												</td>

												<td>
													<%if( data[usuario.id +'_usuarios'][i].parceiro.length > 0){%>
													<%= data[usuario.id +'_usuarios'][i].parceiro[0].nome %>
													<%}%>
												</td>
												<td></td>
												<td>

													<% if(data[usuario.id +'_usuarios'][i].corretora.length > 0){%>
													<% if(data[usuario.id +'_usuarios'][i].corretora[0].testado == false){ %>
													Aguardando
													<%}else if(data[usuario.id +'_usuarios'][i].corretora[0].testado == true && data[usuario.id +'_usuarios'][i].corretora.validado == false){%>
													Erro na Corretora

													<% }else if(data[usuario.id +'_usuarios'][i].corretora[0].testado == true && data[usuario.id +'_usuarios'][i].corretora.validado == true){ %>
													Integrado

													<%} %>
													<%}else{%>
													Não Conectado
													<%}%>




												</td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>

												<td>
													<button class="btn btn-primary modal-mount margin-t-10 margin-r-10 width100-mobile" data-modal='#modalinfo' data-link="/plataforma/sistema/administracao/popup-alterar-senha/<%= data[usuario.id +'_usuarios'][i]._id%>" >
														Alterar Senha
													</button>

													<button class="btn btn-primary modal-mount margin-t-10 margin-r-10 width100-mobile" data-modal='#modalinfo' data-link="/plataforma/sistema/administracao/popup-excluir-usuario/<%= data[usuario.id +'_usuarios'][i]._id%>" >
														Excluir Usuário
													</button>

													<a class="btn btn-primary ajax-load margin-t-10 margin-r-10 width100-mobile" href="/plataforma/sistema/administracao/alterar-usuario/<%= data[usuario.id +'_usuarios'][i]._id%>" >
														Alterar Usuário
													</a>
												</td>

											</tr>
											<%
										}
									}
									%>
								</tbody>
							</table>


						</div>
					</div>


				</div>
			</div>
		</div>
	</section>



	<section class="no-padding-bottom">
		<div class="container-fluid">

			<div class="row">
				<div class="col-sm-12 col-md-6">
					<div class="card">
						<h5>Criador de Cupons</h5>




					</div>


				</div>
			</div>
		</div>
	</section>



</div>




<%}else{%>
<div class="page-content">
	<div class="container-fluid">
		<div class="alert error-block margin-t-10">
			Você não pode acessar essa página!
		</div>
	</div>
</div>


<%}%>