<%- include('../includes/navbar'); %>

<div class="flex align-items-stretch">


	<%- include('../includes/sidebar'); %>

	<div class="page-content">

		<%- include('primeira_vez'); %>

		<%- include('popup_termos_uso');%>


		<section class="no-padding-bottom">
			<div class="container-fluid">
				<div class="card margin-b-10">

					<div class="alert alert-success text-center none parametros_sincronizando">
						Sua estratégia está <strong>sincronizando</strong>, agora é só esperar de 1 a 3 dias úteis.
					</div>


					<div class="row">
						<div class="col-sm-12">



							<div class="slider-container">
								<div class="slide-item">
									<img src="/public/images/pdf/00.png">
								</div>
							</div>

						</div>

					</div>

				</div>
			</div>
		</section>

		<section>
			<div class="container-fluid">
				<div class="row">

					<div class="col-sm-12 col-md-6">
						<div class="card h-100">

							<div class="padding-10 f12 primary-background data_header_algoritmo">
								<div class="inline float-left">
									<span class="white-text margin-l-10">Sistema Atual:</span>
									<span class="green-text inline margin-l-5">
										<%= data[usuario.id +'_usuario_algoritmo'][0].algoritmo[0].nome %>
									</span>
								</div>
								<div class="inline float-left">

									<span class="white-text margin-l-5">Rentabilidade histórica</span>
									<span class="green-text inline margin-l-5">
										<%= data[usuario.id +'_usuario_algoritmo'][0].rentabilidade_aa_exib %>% a.a
									</span>
								</div>
								<div class="inline float-right">

									<span class="white-text margin-l-5 float-right ">Meu consumo atual é de <%= data[usuario.id +'_usuario_algoritmo'][0].algoritmo[0].preco_exib %> por mês</span>
								</div>

							</div>

							<div>
								<canvas id="grafico_evolucao_patrimonial"></canvas>

								<div class="w100 none historico_mensagem_sem_operacao quartiary-block">
									Sem dados suficientes!
								</div>
								
								<div class="text-center primary-text mensagem_utilizando_sistema_historico">Capital Inicial Alocado: R$80.000,00</div>
								<div class="text-center primary-text mensagem_utilizando_sistema_historico">Lucro Acumulado: R$16.179,00</div>

							</div>





						</div>

					</div>
					<div class="col-sm-12 col-md-6">
						<div class="card h-100">

							<div class="padding-10 f12 primary-background data_header_grafico">

								<div class="inline float-left">
									<span class="white-text margin-l-10">Melhor mês:</span> 
									<span class="<%=data[usuario.id +'_usuario_grafico_header'].melhor > 0 ? 'green-text': 'orange-text' %> margin-l-5">
										<%= data[usuario.id +'_usuario_grafico_header'].melhor_exib%>%
									</span>
								</div>

								<div class="inline float-left">
									<span class="white-text inline margin-l-10">Meses positivos: </span>
									<span class="margin-l-5 <%= data[usuario.id +'_usuario_grafico_header'].meses_positivos > 0 ? 'green-text': 'white-text' %>">
										<%= data[usuario.id +'_usuario_grafico_header'].meses_positivos%>							
									</span>

								</div>

								<div class="inline float-left">
									<span class="white-text margin-l-5">NºOperações: </span>
									<span class="<%= data[usuario.id +'_usuario_grafico_header'].numero_operacoes > 0 ? 'green-text': 'white-text' %> margin-l-5">
										<%= data[usuario.id +'_usuario_grafico_header'].numero_operacoes %>  
									</span>
								</div>

								<div class="inline float-left">

									<span class="white-text inline margin-l-5">Pior mês: </span>
									<span class="<%=data[usuario.id +'_usuario_grafico_header'].pior > 0 ? 'green-text': 'orange-text' %> inline margin-l-5">
										<%= data[usuario.id +'_usuario_grafico_header'].pior_exib%>%  
									</span>
								</div>

								<div class="inline float-left">
									<span class="white-text inline margin-l-5">Meses negativos: </span>
									<span class="orange-text inline margin-l-5">
										<%= data[usuario.id +'_usuario_grafico_header'].meses_negativos%>							
									</span>
								</div>

							</div>


							<div>
								<canvas id="grafico_performance_mensal"></canvas>
							</div>

							<div class="w100 none historico_mensagem_sem_operacao quartiary-block">
								Sem dados suficientes!
							</div>

							<span class="f12 grey-text text-center mensagem_utilizando_sistema_historico">*Utilizando o sistema por 90 dias. Os dados tem por base o capital inicial e desconsideram se o usuário fez algum saque.</span>


							<!-- 	<img class="w100" src="/public/images/grafd2.png"> -->
						</div>

					</div>
				</div>
			</div>
		</section>






	</div>


	<script type="text/javascript">

		$('.slide-item').slick({
			dots: false
		});


		$('#ex1').slider({
			formatter: function(value) {
				return 'Current value: ' + value;
			}
		});


		<% if (data[usuario.id +'_usuario_grafico'].length> 0){ %>


			var ctx = document.getElementById('grafico_performance_mensal').getContext('2d');

			var lineChartExample = new Chart(ctx, {
				type:'bar',
				data:{
					labels: ['<%=data[usuario.id +'_usuario_grafico'][2].mes %>', '<%=data[usuario.id +'_usuario_grafico'][1].mes %>', '<%=data[usuario.id +'_usuario_grafico'][0].mes %>'],
					datasets: [{
						label: 'Performance Mensal',
						data: [<%=data[usuario.id +'_usuario_grafico'][2].porcentagem %>,<%=data[usuario.id +'_usuario_grafico'][1].porcentagem %>,<%=data[usuario.id +'_usuario_grafico'][0].porcentagem %>],
						backgroundColor:'#d8e9ef',
						borderColor: '#003475',						
						fill:true,
						borderWidth: 1,
						datalabels:{
							align:'top',
							anchor:'end',
							formatter: function (value) {
								return value + '%';
							},
						}
					}],
				},
				options:{
					scales:{

						yAxes: [{
							ticks: {
								max:30,							
								beginAtZero: true,
								callback: function(value, index, values) {
									return value + '%';
								}
							},
							display: true

						}]
					}
				}



				


			});




			var ctx2 = document.getElementById('grafico_evolucao_patrimonial').getContext('2d');

			var lineChartExample = new Chart(ctx2, {
				type:'line',
				data:{
					labels: ['<%=data[usuario.id +'_usuario_grafico'][2].mes %>', '<%=data[usuario.id +'_usuario_grafico'][1].mes %>', '<%=data[usuario.id +'_usuario_grafico'][0].mes %>'],
					datasets: [{
						label: 'Evolução Patrimonial',
						data: [<%=data[usuario.id +'_usuario_grafico'][2].valor %>,<%=data[usuario.id +'_usuario_grafico'][1].valor %>,<%=data[usuario.id +'_usuario_grafico'][0].valor %>],
						
						backgroundColor:['#003475'],
						borderColor: ['#003475'],						
						
						borderWidth: 1,
						datalabels:{
							align:'top',
							anchor:'end',
							formatter: function (value) {
								return 'R$' + value;
							},
						}
					}],
				},
				options:{
					scales:{

						yAxes: [{
							ticks: {
								min:80000,
								beginAtZero: false,
								callback: function(value, index, values) {
									return 'R$' + value;
								}
							},
							display: true

						}]
					},
					layout:{
						padding:{
							right:30,
							left:30
						}
					}
				}



				


			});








			//nova versão

			// var ctx = document.getElementById('grafico_performance_mensal').getContext('2d');
			// var myChart = new Chart(ctx, {
			// 	type: 'bar',
			// 	data: {
			// 		labels: ['<%#=data[usuario.id +'_usuario_grafico'][2].mes %>', '<%#=data[usuario.id +'_usuario_grafico'][1].mes %>', '<%#=data[usuario.id +'_usuario_grafico'][0].mes %>'],
			// 		datasets: [{
			// 			label: 'Performance Mensal',
			// 			data: [<%#=data[usuario.id +'_usuario_grafico'][2].porcentagem %>,<%#=data[usuario.id +'_usuario_grafico'][1].porcentagem %>,<%#=data[usuario.id +'_usuario_grafico'][0].porcentagem %>],
			// 			backgroundColor:['#d8e9ef','#d8efd8','#efd8d8'],
			// 			borderColor: ['#003475','#00756a','#750071'],						
			// 			fill:true,
			// 			borderWidth: 1
			// 		}]
			// 	},
			// 	options: {
			// 		scales: {

			// 			y: {
			// 				min:-5,
			// 				max:30,
			// 				ticks: {
			// 					beginAtZero: false,
			// 					callback: function(value, index, values) {
			// 						return value + '%';
			// 					}
			// 				}

			// 			}
			// 		},
			// 		plugins:{
			// 			tooltip:{
			// 				callbacks:{
			// 					afterBody: function(t, d) {
			// 						return 'loss 15%';
			// 					}
			// 				}


			// 			}
			// 		}
			// 	}

			// });


			<% }else{ %>

				$('.historico_mensagem_sem_operacao').removeClass('none');
				$('.mensagem_utilizando_sistema_historico').addClass('none');

				<%}%>
			</script>



		</script>


		


	</div>